* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1622;
    color: white;
}

.preloader-container {

    $count: 10;
    $time: 2; //in seconds
    $size: 60;
    $color: #3db4f2;

    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #0b1622;
    transition: 0.4s ease;
    z-index: 4;

    &.active {
        opacity: 0;
    }
  
    .preloader {
        /* size */
        width: $size + px;
        height: $size + px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: rotatePreloader $time + s infinite ease-in;
    }

    @keyframes rotatePreloader {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
        }
        100% {
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
        }
    }

    .preloader div {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .preloader div:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0%;
        width: 10%;
        height: 10%;
        background-color: $color;
        transform: translateX(-50%);
        border-radius: 50%;
    }
  
    @for $i from 1 through $count {
        .preloader div:nth-child(#{$i}) {
            transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
            animation: rotateCircle + $i $time + s infinite linear;
            z-index: $count - $i;
        }

        @keyframes rotateCircle#{$i} {
            #{percentage(((50 / $count) * ($i - 1)) / 100)} {
                opacity: 0;
            }
            #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
                opacity: 1;
                transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
            }
            #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
                transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
            }
            #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
                transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
            }
            100% {
                transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
                opacity: 1;
            }
        }
    }
}

.header {
    .avatar {
        position: absolute;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            border-radius: 5px;
            height: 200px;
            margin-top: 200px;
        }
    }

    .banner {
        background-position: 50% 35%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 300px;
    }

    .selectcard {
        background-color: #151f2e;
        height: 250px;
        transition: 0.4s ease;

        .name {
            text-align: center;
            padding-top: 110px;
            font-size: 25px;
            font-family: 'Overpass', sans-serif;
            font-weight: 700;
        }

        .btn-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 50px;
            position: relative;
            z-index: 3;
            
            button {
                // color: #d878cb;
                margin: 0 55px;
                background-color: #1f2b38;
                border: none;
                padding: 8px 10px;
                border-radius: 4px;
                color: #8596a5;
                font-size: 17px;
                cursor: pointer;
                box-shadow: 0px 5px 10px 10px #111a26;
                transition: 0.15s;
                font-family: sans-serif;

                &.active,
                &:hover {
                    color: #3db4f2;
                }

                &.active {
                    cursor: default;
                }
            }
        }
    }

    #info-container {
        background-color: #151f2e;
        display: flex;
        justify-content: center;
        position: relative;
        line-height: 40px;

        #info-click {
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 1;
            cursor: pointer;
        }

        #info {
            margin: 0 auto;
            width: 100%;
            display: block;
            position: relative;
            text-align: center;
            transition: 0.15s ease;

            &.active {
                .arrow {
                    transform: rotate(45deg) translate(-5px,-5px);

                    &:before {
                        transform: translate(10px,0);
                    }

                    &:after {
                        transform: rotate(90deg) translate(10px,0);
                    }
                }

                div {
                    opacity: 1;
                    height: 250px;
                }
            }

            .arrow {
                width: 13px;
                height: 13px;
                display: inline-block;
                position: relative;
                bottom: -5px;
                left: -8px;
                transition: 0.4s ease;
                margin-top: 2px;
                text-align: left;
                transform: rotate(45deg);
    
                &:before, 
                &:after {
                    position: absolute;
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 3px;
                    background-color: #d878cb;
                    transition: 0.4s ease;
                }
                &:after {
                    position: absolute;
                    transform: rotate(90deg);
                    top: -5px;
                    left: 5px;
                }
            }

            div {
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: 0.4s ease;
                border-bottom: 1px solid #3db4f2;
                background: linear-gradient(to top, #212e42, #151f2e);

                .info-items {
                    max-width: 500px;
                    margin: 25px auto 0 auto;
                    background: transparent;

                    p {
                        font-family: 'Overpass', sans-serif;
                        color: #6c7784;
                        display: inline-block;
                        border-radius: 7px;
                        line-height: 40px;
                        margin: 10px;
                        padding: 5px 15px 0 15px;
                        background-color: #0b1622;
                        font-weight: 400;
    
                        span {
                            color: #d878cb;
                        }
                    }
                }
            }
        }
    }
}

.content {
    min-height: 50vh;

    .settings-bar {
        height: 60px;
        position: relative;
        background-color: #151f2e;
        margin: 20px 100px 40px 100px;
        border-radius: 4px;
        box-shadow: 0 14px 30px rgba(0,5,15,.15),0 4px 4px rgba(0,5,15,.05);

        .sort-container,
        .order-container,
        .view-container {
            cursor: pointer;
            height: 40px;
            width: 150px;
            position: absolute;
            top: 9px;
            border-radius: 2px;
            background-color: #1f2b38;

            &.active {
                cursor: default;
            }

            .settings-bar-icon {
                height: 100%;
                width: 100%;

                p {
                    line-height: 40px;
                    margin: 0 15px;
                    font-family: sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: #808a93;
    
                    &.active {
                        color: #3db4f2;
                    }
                }

                div {
                    svg {
                        fill: #808a93;
                        height: 20px;
                        position: absolute;
                        right: 20px;
                        top: 10px;
                        display: none;
    
                        &.active {
                            display: inherit;
                        }
                    }
                }
            }
        }

        .sort-container {
            right: 20px;

            #sort-btn-icon {
                #sort-btn-icon-mob {
                    display: none;
                }

                #sort-btn-icon-desk #sort-svg-container svg {
                    height: 16px;
                    top: 13px;
                }
            }

            .tippy-box[data-theme~='custom'] {
                background-color: #1f2b38;
                color: #8596a5;
                width: 150px;
            
                h3 {
                    margin: 10px 0 10px 5px;
                    cursor: pointer;
                    font-family: 'Overpass', sans-serif;
                    font-weight: 600;
                    font-size: 15px;
            
                    &:hover {
                        color: #3db4f2;
                    }
                }
            }

            #sort-options {
                display: none;
            }
        }

        .order-container {
            right: 200px;
        }

        .view-container {
            left: 20px;
        }
    }

    .show-list,
    .empty-message {
        display: none;
    }
    
    .empty-message.active {
        display: block;
        height: 50vh;

        &::after {
            content: 'empty huh  (◕︿◕)';
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            color: #3a4c62;
            font-weight: 500;
        }   
    }

    &.grid .show-list {
        grid-template-columns: repeat(auto-fill,205px);
        grid-gap: 25px 20px;
        justify-content: space-between;
        position: relative;
        margin: 50px 100px 50px 100px;

        &.active {
            display: grid !important;
        }

        .show-list-item {
            width: 205px;
            display: grid;
            grid-template-rows: min-content auto;
            background: linear-gradient(to top, #151f2e, #151f2e);
            padding: 10px 10px 5px 10px;
            border-radius: 4px;
            position: relative;
            transition: 0.14s ease;
            box-shadow: 0 14px 30px rgba(0,5,15,.15),0 4px 4px rgba(0,5,15,.05);

            &:hover {
                .info-grid .title {
                    color: #3db4f2;
                } 
            }

            .image {
                border-radius: 4px 4px 0 0;
                cursor: pointer;
                display: inline-block;
                height: 265px;
                overflow: hidden;
                position: relative;
                width: 100%;

                img {
                    height: 100%;
                    left: 0;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
    
            .info-grid .title {
                text-decoration: none;
                font-weight: 600;
                line-height: 20px;
                margin-top: 10px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-family: 'Overpass', sans-serif;
                color: #6c7784;
                font-size: 15px;
                transition: 0.14s ease;
            }

            .info-list {
                display: none;
            }
        }
    }

    &.list .show-list {
        margin: 0 100px 30px 100px;
        flex-direction: column;

        &.active {
            display: flex !important;
        }

        .show-list-item {
            display: flex;
            padding: 0;
            background: linear-gradient(to top, #151f2e, #151f2e);
            margin: 10px 0;
            border-radius: 4px;
            height: 170px;
            box-shadow: 0 14px 30px rgba(0,5,15,.15),0 4px 4px rgba(0,5,15,.05);

            .image {
                cursor: pointer;
                display: inline-block;
                overflow: hidden;
                position: relative;
                width: 145px;

                img {
                    border-radius: 4px 0 0 4px;
                    height: 100%;
                    left: 0;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
    
            .info-grid {
                display: none;
            }

            .info-list {
                display: flex;
                width: 100%;
                flex-direction: column;

                .info-header {
                    padding: 18px 20px 0 25px;
                    height: 60%;

                    .title {
                        font-weight: 600;
                        line-height: 20px;
                        font-family: 'Overpass', sans-serif;
                        color: #6c7784;
                        font-size: 23px;
                        width: 100%;
                    }

                    .studio {
                        font-size: 19px;
                        font-weight: 700;
                        font-family: sans-serif;
                        color: #d878cb;
                        text-decoration: none;
                    }
                }

                .info-footer {
                    display: flex;
                    flex-direction: row;
                    height: 40%;
                    background-color: #131b28;
                    align-items: center;
                    border-radius: 0 0 4px 0;

                    .rating {
                        width: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            height: 22px;
                            path {
                                fill: none;
                                stroke: #6c7784;
                                stroke-width: 3px;
                                stroke-linejoin: round;
                            }
                        }

                        h2 {
                            font-family: 'Overpass', sans-serif;
                            color: #6c7784;
                            font-size: 23px;
                            font-weight: 400;
                            margin-top: 7px;
                            margin-left: 10px;
                        }
                    }

                    .seperator {
                        background-color: black;
                        width: 2px;
                        height: 40%;
                        background-color: #3db4f2;
                        border-radius: 50px;
                    }

                    .more-info {
                        margin-top: 5px;
                        width: 79%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        h2 {
                            font-family: 'Overpass', sans-serif;
                            color: #6c7784;
                            font-size: 23px;
                            font-weight: 400;
                        }

                        .status {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }

}

.footer {
    display: flex;
    height: 80px;
    background-color: #13181e;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: sans-serif;
        color: #3db4f2;
        font-size: 15px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #d878cb;
        }

        span {
            svg {
                fill: #3db4f2;
                height: 11px;
                padding: 0 1px;
            }
        }
    }
}


// Desktop - Tablet
@media (min-width: 800px) and (max-width: 860px) {
    .content {
        .settings-bar {
            margin: 20px 80px 30px 80px;

            .order-container,
            .view-container,
            .sort-container {
                p {
                    margin: 0 10px;
                }
            }

            .order-container {
                width: 130px;
                right: 185px;

                #order-btn-icon div svg {
                    right: 14px;
                }
            }

            .sort-container {
                width: 140px;

                .tippy-box[data-theme~='custom'] {
                    width: 140px;
                }

                #sort-btn-icon #sort-btn-icon-desk div svg {
                    right: 17px;
                }
            }

            .view-container {
                width: 140px;
            }

        }

        &.grid .show-list {
            grid-template-columns: repeat(auto-fill,185px);
            margin: 50px 80px 40px 80px;

            .show-list-item {
                width: 185px;

                .image {
                    height: 250px;
                }
            }
        }

        &.list .show-list {
            margin: 0 80px 30px 80px;

            .show-list-item {
                height: 160px;

                .image {
                    width: 140px;
                }

                .info-list {
                    .info-header {
                        height: 65%;

                        .title {
                            line-height: 22px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                    }

                    .info-footer {
                        height: 35%;

                        .rating {
                            svg {
                                height: 20px;
                            }

                            h2 {
                                font-size: 20px;
                            }
                        }

                        .more-info {
                            h2 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Tablet
@media (min-width: 640px) and (max-width: 800px) {
    .header {
        .banner {
            height: 240px;
        }

        .avatar img {
            height: 170px;
            margin-top: 150px;
        }

        .selectcard {
            height: 190px;

            .name {
                padding-top: 90px;
                font-size: 20px;
            }

            .btn-container {
                margin-top: 25px;

                button {
                    padding: 8px 10px;
                    font-size: 15px;
                    margin: 0 40px;
                }
            }
        }

        #info-container #info.active div {
            height: 210px;
        }

        #info-container #info div .info-items {
            margin-top: 15px;

            p {
                line-height: 35px;
                font-size: 15px;
            }
        }
    }

    .content {
        .settings-bar {
            margin: 15px 40px 0px 40px;

            .order-container,
            .view-container,
            .sort-container {
                .settings-bar-icon p {
                    margin: 0 8px;
                    font-size: 13px;
                }
            }

            .order-container {
                width: 115px;
                right: 170px;

                #order-btn-icon div svg {
                    right: 10px;
                }
            }

            .sort-container {
                width: 130px;

                .tippy-box[data-theme~='custom'] {
                    width: 130px;

                    h3 {
                        margin: 5px 0 5px 0px;
                        font-size: 14px;
                    }
                }

                #sort-btn-icon #sort-btn-icon-desk div svg {
                    right: 12px;
                }
            }

            .view-container {
                width: 110px;

                #view-btn-icon div svg {
                    right: 12px;
                }
            }

        }

        &.grid .show-list {
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            grid-gap: 25px 14px;
            justify-content: center;
            margin: 20px 40px 20px 40px;
    
            .show-list-item {
                width: 100%;    
    
                .image {
                    height: auto;

                    &::before {
                        content: '';
                        display: block;
                        height: 0;
                        width: 0;
                        padding-bottom: 142.85714%;
                    }
                }
        
                .info-grid .title {
                    font-size: 14.5px;
                    font-weight: 700;
                }
            }
        }

        &.list .show-list {
            margin: 7px 40px 20px 40px;

            .show-list-item {
                height: 150px;

                .image {
                    width: 140px;
                }

                .info-list {
                    .info-header {
                        height: 65%;
                        padding-left: 20px;
                        padding-top: 15px;

                        .title {
                            line-height: 19px;
                            font-size: 21px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }

                        .studio {
                            font-size: 18px;
                        }
                    }

                    .info-footer {
                        height: 35%;

                        .rating {
                            svg {
                                height: 17px;
                            }

                            h2 {
                                font-size: 19px;
                                margin-top: 5px;
                            }
                        }

                        .more-info {
                            h2 {
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media (max-width: 640px) {
    .header {
        .banner {
            height: 190px;
        }

        .avatar img {
            height: 140px;
            margin-top: 120px;
        }

        .selectcard {
            height: 210px;

            .name {
                padding-top: 80px;
                font-size: 20px;
            }

            .btn-container {
                button {
                    padding: 8px 10px;
                    font-size: 15px;
                    margin: 0 20px;
                }
            }
        }

        #info-container #info.active div {
            height: 170px;
        }

        #info-container #info div .info-items {
            margin-top: 20px;
            max-width: 400px;

            p {
                padding: 5px 8px 0px 8px;
                line-height: 30px;
                font-size: 15px;
                margin: 4px;
                font-weight: 600;
                border-radius: 5px;
            }
        }

    }

    .content {
        .settings-bar {
            margin: 10px 0 0 0;
            background-color: transparent;
            box-shadow: none;

            .order-container,
            .view-container,
            .sort-container {
                width: 40px;
                p {
                    display: none;
                }
            }

            .order-container {
                right: 70px;

                #order-btn-icon div svg {
                    right: 10.5px;
                }
            }

            .sort-container {
                #sort-btn-icon {
                    height: 100%;

                    #sort-btn-icon-mob {
                        display: block;
                        position: relative;
        
                        svg {
                            fill: #808a93;
                            position: absolute;
                            height: 19px;
                            top: 11px;
                            right: 11px;
                        }
                    }

                    #sort-btn-icon-desk {
                        display: none;
                    }

                }

                #sort-options {
                    display: none;
                    position: fixed;
                    cursor: default;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, #151f2ea2, #212a37a2);
                    left: 0;
                    top: 0;
                    z-index: 10;
                    align-items: center;
                    justify-content: center;

                    &.active {
                       display: flex;
                    }

                    .option-container {
                        position: relative;
                        margin: auto;
                        height: 40%;
                        width: 70%;
                        max-width: 350px;
                        background: #212a37;
                        border-radius: 8px;

                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        flex-direction: column;
                        z-index: 10;

                        h3 {
                            border: none;
                            padding: 0 20px;
                            width: 100%;
                            border-radius: 4px;
                            color: #6c7784;
                            font-size: 22px;
                            cursor: pointer;
                            transition: 0.15s;
                            font-family: sans-serif;
                            text-align: left;
                            position: relative;

                            &.active:after {
                                background-color: #3db4f2;
                                width: 12px;
                                height: 12px;
                                border-radius: 50px;
                                position: absolute;

                                content: "";
                                right: 30px;
                                top: 11px;
    
                            }
                        }
                    }
                }

                .sort-mob-back {
                    display: none;

                    &.active {
                        display: initial;
                        position: fixed;
                        height: 100vh;
                        width: 100vw;
                        bottom: 0;
                        right: 0;
                        z-index: 9;
                    }
                }
            }

            .view-container {
                #view-btn-icon div svg {
                    right: 10.5px;
                }
            }

        }

        &.grid .show-list {
            grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
            grid-gap: 15px 10px;
            padding: 0 20px;
            justify-content: center;
            margin: 10px 0 30px 0;
    
            .show-list-item {
                width: 100%;  
                padding: 5px 5px 5px 5px;  
    
                .image {
                    height: auto;

                    &::before {
                        content: '';
                        display: block;
                        height: 0;
                        width: 0;
                        padding-bottom: 142.85714%;
                    }
                }
        
                .info-grid .title {
                    font-size: 14.5px;
                    text-align: center;
                    margin-top: 8px;
                    line-height: 18px;
                    font-weight: 400;
                }
            }
        }

        &.list .show-list {
            margin: 0 20px 20px 20px;

            .show-list-item {
                height: 145px;

                .image {
                    width: 140px;
                }

                .info-list {
                    .info-header {
                        height: 65%;
                        padding-left: 15px;
                        padding-top: 10px;

                        .title {
                            line-height: 20px;
                            font-size: 19px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }

                        .studio {
                            font-size: 17px;
                        }
                    }

                    .info-footer {
                        height: 35%;

                        .rating {
                            width: 25%;

                            svg {
                                height: 17px;
                            }

                            h2 {
                                font-size: 17px;
                                margin-top: 5px;
                            }
                        }

                        .more-info {
                            margin-top: 4px;
                            width: 74%;

                            h2 {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small - Mobile
@media (max-width: 550px) {
    .content {
        &.list .show-list {
            .show-list-item {
                height: 120px;

                .image {
                    width: 120px;
                }

                .info-list {
                    position: relative;
        
                    .info-header {
                        height: 70%;

                        padding-right: 40px;
                        padding-left: 8px;

                        .title {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 18px;
                        }

                        .studio {
                            font-size: 14px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                        }
                    }

                    .info-footer {
                        height: 30%;

                        .rating {
                            position: absolute;
                            top: 10px;
                            right: 0;
                            flex-direction: column;
                            width: 20%;

                            svg {
                                height: 13px;
                            }
        
                            h2 {
                                margin: 3px 0 0 0;
                                font-size: 13px;

                            }
                        }
        
                        .seperator {
                            display: none;
                        }
        
                        .more-info {
                            width: 100%;

                            h2 {
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}