* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1622;
    color: white;
    overflow: hidden;
}

.preloader-container {

    $count: 10;
    $time: 2; //in seconds
    $size: 60;
    $color: #3db4f2;

    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #0b1622;
    transition: 0.4s ease;
    z-index: 4;

    &.active {
        opacity: 0;
    }
  
    .preloader {
        /* size */
        width: $size + px;
        height: $size + px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: rotatePreloader $time + s infinite ease-in;
    }

    @keyframes rotatePreloader {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
        }
        100% {
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
        }
    }

    .preloader div {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .preloader div:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0%;
        width: 10%;
        height: 10%;
        background-color: $color;
        transform: translateX(-50%);
        border-radius: 50%;
    }
  
    @for $i from 1 through $count {
        .preloader div:nth-child(#{$i}) {
            transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
            animation: rotateCircle + $i $time + s infinite linear;
            z-index: $count - $i;
        }

        @keyframes rotateCircle#{$i} {
            #{percentage(((50 / $count) * ($i - 1)) / 100)} {
                opacity: 0;
            }
            #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
                opacity: 1;
                transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
            }
            #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
                transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
            }
            #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
                transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
            }
            100% {
                transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
                opacity: 1;
            }
        }
    }
}

.content {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    .header-group {
        .title {
            font-size: 35px;
            font-family: 'Overpass', sans-serif;
            line-height: 100px;

            h1 {
                font-weight: 600;
            }
        }
    
        .description {
            font-size: 19px;
            font-family: sans-serif;
            font-weight: 400;
            color: #8596a5;
            max-width: 350px;
            line-height: 25px;
            word-spacing: 30%;
        }

        .line {
            background: #8596a5;
            height: 4px;
            border-radius: 50px;
            width: 100px;
            display: block;
            margin-top: 13px;
        }
    }

    .input-group {
        margin-top: 70px;

        .search-desc {
            font-size: 15px;
            font-family: 'Overpass', sans-serif;
            font-weight: 400;
            color: #3db4f2;
            line-height: 30px;
        }

        .search-bar {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            

            input {
                background: #151f2e;
                border: none;
                color: #c0c4cc;
                font-family: 'Overpass', sans-serif;
                font-size: 17px;
                font-weight: 400;
                padding: 11px 10px 10px 15px;
                width: 320px;
                border-radius: 4px;

                &:focus {
                    border: none;
                }
            }

            .search-icon {
                height: 44px;
                width: 44px;
                background: #151f2e;
                padding: 9px;
                border-radius: 4px;
                margin-left: 5px;
                transition: 0.4s ease;
                cursor: pointer;
                border: none;

                &:hover {
                    svg {
                        fill: #d878cb;
                    }
                }

                svg {
                    fill: #c0c4cc;
                }
            }

        }
    
    }

    .image-group {
        .desk-image {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 40%;
    
            img {
                height: 90%;
            }
        }
    
        .desk-tab-image {
            display: none;
        }
    
        .tab-image {
            display: none;
        }

        // .mob-image {
        //     display: none;
        // }
    }

}

.footer {
    display: flex;
    height: 70px;
    background-color: #13181e;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    h2 {
        font-family: sans-serif;
        color: #3db4f2;
        font-size: 15px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #d878cb;
        }

        span {
            svg {
                fill: #3db4f2;
                height: 11px;
                padding: 0 1px;
            }
        }
    }
}


// Tablet-Desktop
@media (min-width: 800px) and (max-width: 1000px) {
    .content {
        margin: 10% 6%;

        .input-group {
            .search-bar {
                input {
                    width: 300px;
                }
            }
        }

        .image-group {
            .desk-tab-image {
                bottom: 20%;
                display: flex;
                position: absolute;
                right: 0;
                align-content: center;
                justify-content: center;
    
                img {
                    height: 400px;
                }
            }

            .desk-image {
                display: none;
            }
        }
    }
}

// Tablet
@media (min-width: 640px) and (max-width: 800px) {
    .content {
        margin-top: 90px;
        margin-left: 30px;

        .header-group {
            .title {
                font-size: 30px;
                line-height: 80px;
            }
    
            .description {
                max-width: 60%;
                font-size: 17px;
                line-height: 23px;
            }

            .line {
                margin-top: 13px;
            }
        }

        .input-group {
            margin-top: 100px;

            .search-bar {
                input {
                    font-size: 17px;
                    padding: 10px 10px 10px 10px;
                    width: 250px;
                }

                .search-icon {
                    height: 43px;
                    width: 43px;
                    padding: 11px;
                }
            }
        }

        .image-group {
            .desk-image {
                display: none;
            }
            .tab-image {
                bottom: 8%;
                display: flex;
                position: absolute;
                right: 0;
                align-content: center;
                justify-content: center;
    
                img {
                    height: 500px;
                }
            }
        }

    }

    .footer {
        height: 60px;
    }
}

// Mobile
@media (max-width: 640px) {
    .content {
        text-align: center;
        margin: 5vh 0 0 0;
        width: 100%;
        max-width: none;

        .header-group {
            width: 90%;
            margin: 0 auto;

            .title {
                font-size: 30px;
                line-height: 80px;
            }

            .description {
                line-height: 20px;
                font-size: 17px;
                max-width: 100%;
            }

            .line {
                width: 50%;
                margin: 0 auto;
                margin-top: 15px;
            }
        }

        .input-group {
            width: 90%;
            margin: 0 auto;
            margin-top: 10vh;

            .search-desc {
                text-align: center;
            }

            .search-bar {
                justify-content: center;

                input {
                    width: 80%;
                    font-size: 19px;
                    padding: 10px 10px 9px 10px;
                    z-index: 2;
                }

                .search-icon {
                    height: 44px;
                    width: 44px;
                    padding: 10px;
                    z-index: 2;
                }
            }            
        }

        .image-group {
            .desk-image {
                display: none;
            }   
            
            background-image: url("images/girl.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 250px;
            display: block;
            margin-top: 3vh;
            background-size: contain;
            
            // .mob-image {
            //     bottom: 60px;
            //     display: flex;
            //     position: absolute;
            //     width: 100%;
            //     left: 0;
            //     bottom: 13%;
            //     align-content: center;
            //     justify-content: center;
            //     background-image: url("assets");

            //     img {
            //         width: 200px;
            //     }
            // }  
        }
    }

    .footer {
        height: 60px;
    }
}